<h1><center> Day 2 </h1> </center>

In [2]:
a = 10

In [3]:
a

10

# Data Types

<h4> Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. </h4>

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes

### Python Numbers

Integers, floating point numbers and complex numbers fall under Python numbers category. They are defined as int, float and complex classes in Python.

In [1]:
#int
var = 10
print(var, type(var))

10 <class 'int'>

In [2]:
# flaot
var = 10.5
print(var, type(var))

10.5 <class 'float'>

In [3]:
# complex
#x + yj  => j indicate complex tram
var = 5j
print(var, type(var))

5j <class 'complex'>

### Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

In [5]:
# ex
l = [1, 2, 2.5, 3, "hstu"]
print(l, type(l))

[1, 2, 2.5, 3, 'hstu'] <class 'list'>

In [5]:
len(l)

5

In [6]:
# indexing
l1 = l[4]

print(l1, type(l1))

hstu <class 'str'>

In [7]:
# indexing
l1 = l[-2]

print(l1, type(l1))

3 <class 'int'>

In [8]:
l = [1, 2, 2.5, 3, "hstu"]
print(l, type(l))

[1, 2, 2.5, 3, 'hstu'] <class 'list'>

In [9]:
l[0] = l[0] + 1

print(l, type(l))

[2, 2, 2.5, 3, 'hstu'] <class 'list'>

### Python Tuple

Tuple is an ordered sequence of items same as a list. The only difference is that tuples are immutable. Tuples once created cannot be modified.

In [1]:
t = (5,'program', 1+3j)

print(t, type(t), len(t))

(5, 'program', (1+3j)) <class 'tuple'> 3

In [6]:
len(t), len(l)

(3, 5)

In [2]:
# Generates error
# Tuples are immutable
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
var = 10

var = 20

var

### Python Strings

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, ''' or """.

In [23]:
single = "  signle`s"


mult = """asdf@jskl
sdfklsldkfj
's'
"ss"
sdfsdklfj
sdfs
"""  

print(mult)
print(single)

asdf@jskl
sdfklsldkfj
's'
"ss"
sdfsdklfj
sdfs

  signle`s

'abc'

### Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered.

In [35]:
#ex
s = {1, 1, 2, 3}

3

### Python Dictionary

Dictionary is an unordered collection of key-value pairs.

It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [45]:
d = {
   1: "one",
    2: "two",
    3: "three"
}


print(d, type(d))

{1: 'one', 2: 'two', 3: 'three'} <class 'dict'>

In [50]:
d[1]

'one'

In [52]:
d.keys()

dict_keys([1, 2, 3])

## Type Conversion

In [55]:
var = 10.555

var_int = str(var) 

print(var, type(var))
print(var_int, type(var_int))

10.555 <class 'float'>
10.555 <class 'str'>

In [65]:
l = [1, 2, 3, 1]
print(l)

s = set(l)
print(s)

[1, 2, 3, 1]
{1, 2, 3}

## Input & Output

### Output
print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

In [80]:
var = 10
print(var)

10

In [ ]:
sep = ' '
end = \n

In [94]:
print('one', 'two')

one two

### Output formatting

In [85]:
var1, var2, var3 = 10, 20, 30

print("var1", var1, sep="=")

var1=10

In [90]:
print("The value of v1 is", var1, "and v2 is", var2)
print("the value of v1 is {} and v2 is {}".format(var1, var2))
print("the value of v1 is {1} and v2 is {1}".format(var1, var2))

The value of v1 is 10 and v2 is 20
the value of v1 is 10 and v2 is 20
the value of v1 is 20 and v2 is 20

In [93]:
x = 12.3456789
print('The value of x is %.2f' %x)

The value of x is 12.35

### INPUT
input([prompt])

In [103]:
x = input("Enter your input  ")


print(int(x), type(x))

Enter your input  10
10 <class 'str'>

'10'

## Python Operator

### Arithmetic operators

+, -, *, /, //, %, **

In [3]:
a = 10
b = 3

print(a+b)
print(a-b)
print(a*b)
print(a/b)

13
7
30
3.3333333333333335

In [7]:
10 // 3

3

### Comparison operators

Comparison operators are used to compare values. It returns either True or False according to the condition.

In [16]:
<, >, =>, <=, ==, !=

In [16]:
a = 5
b = 6

In [17]:
#  100 < a < 200

False

### Assignment operators

In [3]:
a = 10
a /=  5    # a = a+ 5  

    
print(a)

2.0

5

In [8]:
a = 10
b = 10

a == b

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-8-364032124ae6>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  10 is 10

True

### Identity operators
`is` and `is not` are the identity operators in Python. They are used to check if two values (or variables) are located on the same part of the memory. Two variables that are equal does not imply that they are identical.

In [6]:
a = 10   # is -> ==, is not -> !=
b = 5

a is b

False

### Membership operators
`in` and `not in` are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In [11]:
l = [10, 20 , 30, 40]

15 not in l

True

# Logical Operator

In [15]:
and 
or 
not

True